but we wanted to go much larger : we wanted to build the entire bacterial chromosome -- it &apos;s over 580,000 letters of genetic code -- so we thought we &apos;d build them in cassettes the size of the viruses so we could actually vary the cassettes to understand what the actual components of a living cell are .
and the conversation i had with dean kamen this morning , one of the great diy innovators , i &apos;d like to share with you -- he gave me permission to do so -- his technology called slingshot that many of you may have heard of , it is the size of a small dorm room refrigerator .
this equation has four factors , a little bit of multiplication : so , you &apos;ve got a thing on the left , co2 , that you want to get to zero , and that &apos;s going to be based on the number of people , the services each person &apos;s using on average , the energy on average for each service , and the co2 being put out per unit of energy .
and that was really very , very bitter and then you end up in one of these phases just now you saw that image with don &apos;t give up written on it , where i asked myself after ten years , whether the one thousand deutschmark it was at the time , the basic pay , a uniform pay in the collective of course , whether that was really such a great thing .
if i show you 600 magazines and i divide them up into 10 categories , versus i show you 400 magazines and divide them up into 20 categories , you believe that i have given you more choice and a better choosing experience if i gave you the 400 than if i gave you the 600 .
i mean , most of the moments of our life -- and i calculated , you know , the psychological present is said to be about three seconds long ; that means that , you know , in a life there are about 600 million of them ; in a month , there are about 600,000 -- most of them don &apos;t leave a trace .
firstly , when you are growing up as a child , as a baby , the thing you are interested in is which what sort of excretions you have , right ? and depending on whether your parents have allowed you to more or less play with your potty and stir its contents , your curiosity is of course awakened .
what i &apos;m going to show you first , as quickly as i can , is some foundational work , some new technology that we brought to microsoft as part of an acquisition almost exactly a year ago . this is seadragon , and it &apos;s an environment in which you can either locally or remotely interact with vast amounts of visual data .
and if you would choose a different vacation , there is a conflict between your two selves , and you need to think about how to adjudicate that conflict , and it &apos;s actually not at all obvious , because if you think in terms of time , then you get one answer , and if you think in terms of memories , you might get another answer .
and that &apos;s that when you strip away all your feelings about politics and the line at the dmv and all those other things that we &apos;re really mad about , government is , at its core , in the words of tim o &apos;reilly , &quot; what we do together that we can &apos;t do alone . &quot;
&quot; disabled , adjective : crippled , helpless , useless , wrecked , stalled , maimed , wounded , mangled , lame , mutilated , run-down , worn-out , weakened , impotent , castrated , paralyzed , handicapped , senile , decrepit , laid-up , done-up , done-for , done-in cracked-up , counted-out ; see also hurt , useless and weak .
and i wound up getting involved with the space community , really involved with nasa , sitting on the nasa advisory board , planning actual space missions , going to russia , going through the pre-cosmonaut biomedical protocols , and all these sorts of things , to actually go and fly to the international space station with our 3d camera systems .
a couple of years ago , the lasker prize was awarded to the scientist shinya yamanaka for his research in which he took an adult skin cell , a fibroblast , and by manipulating just four genes , he induced that cell to revert to a pluripotential stem cell -- a cell potentially capable of becoming any cell in your body .
we purified a chromosome from one microbial species -- roughly , these two are as distant as human and mice -- we added a few extra genes so we could select for this chromosome , we digested it with enzymes to kill all the proteins , and it was pretty stunning when we put this in the cell -- and you &apos;ll appreciate our very sophisticated graphics here .
if one person said no , there was the veto principle , which was totally demoralising , for ten years , i i had grave doubts as to whether i was perhaps really wasting my great engineering degree on something ridiculous , also because all my father &apos;s colleagues had told him , you wasted your money on your child .
i once travelled 6,000 miles from chengdu in western china overland through southeastern tibet to lhasa with a young colleague , and it was only when i got to lhasa that i understood the face behind the statistics you hear about : 6,000 sacred monuments torn apart to dust and ashes , 1.2 million people killed by the cadres during the cultural revolution .
i had this encounter recently where i met the extraordinary american poet ruth stone , who &apos;s now in her 90s , but she &apos;s been a poet her entire life and she told me that when she was growing up in rural virginia , she would be out working in the fields , and she said she would feel and hear a poem coming at her from over the landscape .
these guys make their fortunes online , but they make it through the illegal means of using things like banking trojans to steal money from our bank accounts while we do online banking , or with keyloggers to collect our credit card information while we are doing online shopping from an infected computer .
and they have there were two two tinkerers who went to work on it and said , okay , we can make this easier and cheaper , and put together this this piece of equipment from open source stuff , so freely available hardware and electronics and they &apos;re now the they &apos;ve now managed to make it ripe for the market and are currently the the cheapest providers of these devices worldwide .
just a week ago , the national academy of engineering awarded its draper prize to francis arnold and willem stemmer , two scientists who independently developed techniques to encourage the natural process of evolution to work faster and to lead to desirable proteins in a more efficient way -- what frances arnold calls &quot; directed evolution . &quot;
and has nothing more to do with reality .
implicit in this phrase of &quot; overcoming adversity &quot; is the idea that success , or happiness , is about emerging on the other side of a challenging experience unscathed or unmarked by the experience , as if my successes in life have come about from an ability to sidestep or circumnavigate the presumed pitfalls of a life with prosthetics , or what other people perceive as my disability .
now , of course , this was a simple ploy on dr. p &apos;s part to get me to do the exercises i didn &apos;t want to do before the prospect of being the richest five-year-old in the second floor ward , but what he effectively did for me was reshape an awful daily occurrence into a new and promising experience for me .
and , as i &apos;ve been looking over the last year for models for how to do that i &apos;ve been sort of looking across time , and i &apos;ve been trying to find other societies to see if they might have had better and saner ideas than we have about how to help creative people , sort of manage the inherent emotional risks of creativity .
that here is biocurious , the hackerspace i mentioned just now , this yes , basically a kind of adult education centre for for molecular biology .
i encourage all of you to read steve &apos;s book or to watch the movie to understand not only the beautiful bond that formed between these two men , but how music helped shape that bond , and ultimately was instrumental -- if you &apos;ll pardon the pun -- in helping nathaniel get off the streets .
and if i now transfer this , if i let orient take shape as an overview , select as a selection , inform in the case that it comes up close to me , and i can look at in detail , and yes , transact means i can put it somewhere or send someone or do the shopping , etc . ,
the human ability to adapt , it &apos;s an interesting thing , because people have continually wanted to talk to me about overcoming adversity , and i &apos;m going to make an admission : this phrase never sat right with me , and i always felt uneasy trying to answer people &apos;s questions about it , and i think i &apos;m starting to figure out why .
in the early &apos; 80s , i had a really astonishing assignment when i was asked by my professor at harvard if i was interested in going down to haiti , infiltrating the secret societies which were the foundation of duvalier &apos;s strength and tonton macoutes , and securing the poison used to make zombies .
no biologists , for example , would dare suggest that 50 percent of all species or more have been or are on the brink of extinction because it simply is not true , and yet that -- the most apocalyptic scenario in the realm of biological diversity -- scarcely approaches what we know to be the most optimistic scenario in the realm of cultural diversity .
bg : well , we haven &apos;t picked a particular place , and there &apos;s all these interesting disclosure rules about anything that &apos;s called &quot; nuclear , &quot; so we &apos;ve got a lot of interest , that people from the company have been in russia , india , china -- i &apos;ve been back seeing the secretary of energy here , talking about how this fits into the energy agenda .
and if you look at some of the software in those terms , then you &apos;ll understand why ninety-nine percent of today &apos;s software is less intuitive or not instantaneously usable , including the ipad in many areas or the iphone , although it &apos;s already a lot more intuitive than classical software .
if i can leave you with one big idea today , it &apos;s that the whole of the data in which we consume is greater that the sum of the parts , and instead of thinking about information overload , what i &apos;d like you to think about is how we can use information so that patterns pop and we can see trends that would otherwise be invisible .
this idea , it saved me when i was in the middle of writing &quot; eat , pray , love , &quot; and i fell into one of those , sort of pits of despair that we all fall into when we &apos;re working on something and it &apos;s not coming and you start to think this is going to be a disaster , this is going to be the worst book ever written .
we also brought one of these diesel aggregates to the hall , in the same size as it is there , for the complete dynamic behavior of this network to actually be , so in the hall it looks like this now , the diesel is behind it , here &apos;s the big battery , here are all the converters , with which we simulate the network .
well , the truth is the 20th century , 300 years from now , is not going to be remembered for its wars or its technological innovations , but rather as the era in which we stood by and either actively endorsed or passively accepted the massive destruction of both biological and cultural diversity on the planet . now , the problem isn &apos;t change .
if you should ever have the chance to staff your city &apos;s call center , as our fellow scott silverman did as part of the program -- in fact , they all do that -- you will find that people call government with a very wide range of issues , including having an opossum stuck in your house .
you know , one of the intense pleasures of travel and one of the delights of ethnographic research is the opportunity to live amongst those who have not forgotten the old ways , who still feel their past in the wind , touch it in stones polished by rain , taste it in the bitter leaves of plants .
you know that healthy kind , when you betray a secret that a best friend made you promise never to reveal and then you get busted and then your best friend confronts you and you have terrible discussions , but at the end of it all that sick feeling guides you and you say , i &apos;ll never make that mistake again .
it is actually the one that makes decisions because , if you have a patient who has had , say , two colonoscopies with two different surgeons and is deciding which of them to choose , then the one that chooses is the one that has the memory that is less bad , and that &apos;s the surgeon that will be chosen .
but my dream here is that , if you can make it economic , and meet the co2 constraints , then the skeptics say , &quot; ok , i don &apos;t care that it doesn &apos;t put out co2 , i kind of wish it did put out co2 , but i guess i &apos;ll accept it because it &apos;s cheaper than what &apos;s come before . &quot;
we &apos;re on the verge of amazing , amazing events in many fields , and yet i actually think we &apos;d have to go back hundreds , 300 years , before the enlightenment , to find a time when we battled progress , when we fought about these things more vigorously , on more fronts , than we do now .
if i were to walk into a room filled with my colleages and ask for their support right now and start to tell what i &apos;ve just told you right now , i probably wouldn &apos;t get through two of those stories before they would start to get really uncomfortable , somebody would crack a joke , they &apos;d change the subject and we would move on .
