certainly , from a medical standpoint , my legs , laser surgery for vision impairment , titanium knees and hip replacements for aging bodies that are allowing people to more fully engage with their abilities , and move beyond the limits that nature has imposed on them -- not to mention social networking platforms allow people to self-identify , to claim their own descriptions of themselves , so they can go align with global groups of their own choosing .
i will leave the final word to an english scientist , humphrey davy , who , i suspect , when defending his protege &apos;s useless experiments -- his protege was michael faraday -- said this , &quot; nothing is so dangerous to the progress of the human mind than to assume that our views of science are ultimate , that there are no mysteries in nature , that our triumphs are complete , and that there are no new worlds to conquer . &quot;
and what we &apos;re doing is a series of journeys to the ethnosphere where we &apos;re going to take our audience to places of such cultural wonder that they cannot help but come away dazzled by what they have seen , and hopefully , therefore , embrace gradually , one by one , the central revelation of anthropology : that this world deserves to exist in a diverse way , that we can find a way to live in a truly multicultural , pluralistic world where all of the wisdom of all peoples can contribute to our collective well-being .
one of them is that with a lot of different salad dressings to choose from , if you buy one , and it &apos;s not perfect -- and , you know , what salad dressing is ? -- it &apos;s easy to imagine that you could have made a different choice that would have been better . and what happens is this imagined alternative induces you to regret the decision you made , and this regret subtracts from the satisfaction you get out of the decision you made , even if it was a good decision .
and at the end of this amazing initiation , one day they &apos;re suddenly taken out and for the first time in their lives , at the age of 18 , they see a sunrise . and in that crystal moment of awareness of first light as the sun begins to bathe the slopes of the stunningly beautiful landscape , suddenly everything they have learned in the abstract is affirmed in stunning glory . and the priest steps back and says , &quot; you see ? it &apos;s really as i &apos;ve told you .
the extraordinary thing is that he said he had saved newspaper clippings throughout my whole childhood , whether winning a second grade spelling bee , marching with the girl scouts , you know , the halloween parade , winning my college scholarship , or any of my sports victories , and he was using it , and integrating it into teaching resident students , med students from hahnemann medical school and hershey medical school .
and now you see the soul as having something of a cloud like nature , an airy nature , it &apos;s called anima in latin , being like a breath of air .
so , as a computer scientist inspired by this utility of our interactions with physical objects -- along with my adviser pattie , and my collaborator jeevan kalanithi -- i started to wonder -- what if when we used a computer , instead of having this one mouse cursor that was a like a digital fingertip moving around a flat desktop , what if we could reach in with both hands and grasp information physically , arranging it the way we wanted ?
right , i &apos;d like to summarise my my presentation by stating that the characteristics and abilities that we acquired during the age of feudalism , and which went a little lost during the machine age , that they can be reactivated with the help of the so-called cyber age and so that we can , in this way , actually go back to our roots rather than the future through complex , technological , new products .
at one point , javier said to octavio , &quot; what if we took some of our empty land -- what if we just gave it to an embassy -- give some to the u.s. embassy ; give some to the canadian embassy -- and then if people want to go work under the rules of canada or under the rules of the united states , they can go get jobs , do everything they do on those embassy grounds that they would otherwise have to go to canada or the u.s. to do ? &quot;
the young acolytes are taken away from their families at the age of three and four , sequestered in a shadowy world of darkness in stone huts at the base of glaciers for 18 years : two nine-year periods deliberately chosen to mimic the nine months of gestation they spend in their natural mother &apos;s womb ; now they are metaphorically in the womb of the great mother .
i &apos;d like to leave you with a poem by a fourteenth-century persian poet named hafiz that my friend , jacques dembois told me about , and the poem is called &quot; the god who only knows four words &quot; : &quot; every child has known god , not the god of names , not the god of don &apos;ts , but the god who only knows four words and keeps repeating them , saying , &apos; come dance with me .
if somebody bothered to tag all of these saints and say who they all are , then my photo of notre dame cathedral suddenly gets enriched with all of that data , and i can use it as an entry point to dive into that space , into that meta-verse , using everybody else &apos;s photos , and do a kind of a cross-modal and cross-user social experience that way .
a huge success story , but there too we have the problem of a growing company and then in two thousand and six , we , a small group , decided that we would start small again and go back and would dedicate ourselves to the next topic of the future , which , in my opinion , and in our opinion , and it &apos;s crazy again , it starts with people saying , what &apos;s this nonsense about , that won &apos;t work . i &apos;m talking about storage .
there &apos;s not a lot of room for either in the malarial swamps of the asmat or in the chilling winds of tibet , but they have , nevertheless , through time and ritual , forged a traditional mystique of the earth that is based not on the idea of being self-consciously close to it , but on a far subtler intuition : the idea that the earth itself can only exist because it is breathed into being by human consciousness .
so the system is evolving to create backups that make it easier to detect those mistakes that humans inevitably make and also fosters in a loving , supportive way places where everybody who is observing in the health care system can actually point out things that could be potential mistakes and is rewarded for doing so , and especially people like me , when we do make mistakes , we &apos;re rewarded for coming clean .
in fact , i used to argue with my professor , richard evan shultes -- who is a man who sparked the psychedelic era with his discovery of the magic mushrooms in mexico in the 1930s -- i used to argue that you couldn &apos;t classify these tryptamines as hallucinogenic because by the time you &apos;re under the effects there &apos;s no one home anymore to experience a hallucination .
what happened was women , for example , who wanted the right to vote , took the founding fathers &apos; concept of anatomical commonality being more important than anatomical difference and said , &quot; the fact that we have a uterus and ovaries is not significant enough in terms of a difference to mean that we shouldn &apos;t have the right to vote , the right to full citizenship , the right to own property , etc . , etc . &quot;
now we all , or a big part of us , use gmail or one of their competitors , but these services are especially popular in totalitarian states like iran , where dissidents use foreign services like gmail because they know they are more trustworthy than the local services and they are encrypted over ssl connections , so the local government can &apos;t snoop on their discussions .
on my show , on &quot; white coat , black art , &quot; i made it a habit of saying , &quot; here &apos;s my worst mistake , &quot; i would say to everybody from paramedics to the chief of cardiac surgery , &quot; here &apos;s my worst mistake , &quot; blah , blah , blah , blah , blah , &quot; what about yours ? &quot; and i would point the microphone towards them .
when you come back to the shore and you say , &quot; we had to do this , and the fiber optic , and the attentuation , and the this and the that , all the technology of it , and the difficulty , the human-performance aspects of working at sea , &quot; you can &apos;t explain it to people . it &apos;s that thing that maybe cops have , or people in combat that have gone through something together and they know they can never explain it .
now if you are one of those who does not accept the evidence for biological evolution , this would be a very good time to turn off your hearing aid , take out your personal communications device -- i give you permission -- and perhaps take another look at kathryn schultz &apos;s book on being wrong , because nothing in the rest of this talk is going to make any sense whatsoever to you .
and , to dimensionalize this , i went through and looked at all the types of batteries that get made -- for cars , for computers , for phones , for flashlights , for everything -- and compared that to the amount of electrical energy the world uses , and what i found is that all the batteries we make now could store less than 10 minutes of all the energy .
now let &apos;s take a step back in time to the big bang , 14 billion years ago -- the earth , the solar system , about four and a half billion years -- the first signs of proto-life , maybe three to four billion years ago on earth -- the first multi-celled organisms , perhaps as much as 800 or a billion years ago -- and then the human species , finally emerging in the last 130,000 years .
in other words , sugar pills have a measurable effect in certain kinds of studies , the placebo effect , just because the person thinks that what &apos;s happening to them is a pharmaceutical or some sort of a -- for pain management , for example , if they believe it enough there is a measurable effect in the body called the placebo effect .
i would like to jump straight to one of noah &apos;s original data-sets -- and this is from an early prototype of photosynth that we first got working in the summer -- to show you what i think is really the punch line behind this technology , the photosynth technology . and it &apos;s not necessarily so apparent from looking at the environments that we &apos;ve put up on the website .
margaret mead , the great anthropologist , said , before she died , that her greatest fear was that as we drifted towards this blandly amorphous generic world view not only would we see the entire range of the human imagination reduced to a more narrow modality of thought , but that we would wake from a dream one day having forgotten there were even other possibilities .
and so , when you have all sorts of urgent problems , the idea of taking pain now that has to do with a gain later , and a somewhat uncertain pain thing -- in fact , the ipcc report , that &apos;s not necessarily the worst case , and there are people in the rich world who look at ipcc and say , &quot; ok , that isn &apos;t that big of a deal . &quot;
and yet , in this country , in the states of the old south , we execute people -- where you &apos;re 11 times more likely to get the death penalty if the victim is white than if the victim is black , 22 times more likely to get it if the defendant is black and the victim is white -- in the very states where there are buried in the ground the bodies of people who were lynched .
it means that a young kid from the andes who &apos;s raised to believe that that mountain is an apu spirit that will direct his or her destiny will be a profoundly different human being and have a different relationship to that resource or that place than a young kid from montana raised to believe that a mountain is a pile of rock ready to be mined .
because i usually take the role of trying to explain to people how wonderful the new technologies that are coming along are going to be , and i thought that , since i was among friends here , i would tell you what i really think and try to look back and try to understand what is really going on here with these amazing jumps in technology that seem so fast that we can barely keep on top of it .
and so , that would be your response to the bjorn lomborg argument , that basically if you spend all this energy trying to solve the co2 problem , it &apos;s going to take away all your other goals of trying to rid the world of poverty and malaria and so forth , it &apos;s a stupid waste of the earth &apos;s resources to put money towards that when there are better things we can do .
and so now you find it in biology , and i &apos;d like to take a metaphor from synthetic biology , biology is actually an information science because the dna code is an abstract code that yes , it &apos;s not exactly like a computer , because it &apos;s more dynamic , because it &apos;s material , i mean real material , and not just cybernetic .
that &apos;s right , some lucky individual , corporation , for-profit or non-profit , was going to get the once-in-a-lifetime opportunity -- because i &apos;m sure chris anderson will never let it happen again -- to buy the naming rights to the talk you &apos;re watching right now , that at the time didn &apos;t have a title , didn &apos;t really have a lot of content and didn &apos;t really give much hint as to what the subject matter would actually be .
so i went home and was having dinner with my wife and was telling her about this , and we were like , &quot; well wait a second . if we know that this technology exists where you can use your eyes to control things , why don &apos;t we figure out a way for tempt to control a laser and he could do graf again ? well that would be awesome . &quot;
and so , there are different ones , but the beauty of this is a molecule of uranium has a million times as much energy as a molecule of , say , coal , and so -- if you can deal with the negatives , which are essentially the radiation -- the footprint and cost , the potential , in terms of effect on land and various things , is almost in a class of its own .
and the result is -- we call it &quot; patient autonomy , &quot; which makes it sound like a good thing , but what it really is is a shifting of the burden and the responsibility for decision-making from somebody who knows something -- namely , the doctor -- to somebody who knows nothing and is almost certainly sick and thus not in the best shape to be making decisions -- namely , the patient .
now today , if you want to win the race , actually you need also something like this -- something that monitors the car in real time , has a few thousand sensors collecting information from the car , transmitting this information into the system , and then processing it and using it in order to go back to the car with decisions and changing things in real time as information is collected .
wherever you look around the world , you discover that these are not cultures destined to fade away ; these are dynamic living peoples being driven out of existence by identifiable forces that are beyond their capacity to adapt to : whether it &apos;s the egregious deforestation in the homeland of the penan -- a nomadic people from southeast asia , from sarawak -- a people who lived free in the forest until a generation ago , and now have all been reduced to servitude and prostitution on the banks of the rivers , where you can see the river itself is soiled with the silt that seems to be carrying half of borneo away to the south china sea , where the japanese freighters hang light in the horizon ready to fill their holds with raw logs ripped from the forest -- or , in the case of the yanomami , it &apos;s the disease entities that have come in , in the wake of the discovery of gold .
the oil shortage is fictional , but we put enough online content out there for you to believe that it &apos;s real , and to live your real life as if we &apos;ve run out of oil . so when you come to the game , you sign up , you tell us where you live , and then we give you real-time news , videos , data feeds that show you exactly how much oil costs , what &apos;s not available , how food supply is being affected , how transportation is being affected , if schools are closed , if there is rioting , and you have to figure out how you would live your real life as if this were true . and then we ask you to blog about it , to post videos , to post photos .
what makes ayahuasca fascinating is not the sheer pharmacological potential of this preparation , but the elaboration of it . it &apos;s made really of two different sources : on the one hand , this woody liana which has in it a series of beta-carbolines , harmine , harmaline , mildly hallucinogenic -- to take the vine alone is rather to have sort of blue hazy smoke drift across your consciousness -- but it &apos;s mixed with the leaves of a shrub in the coffee family called psychotria viridis .
just to know that jaguar shamans still journey beyond the milky way , or the myths of the inuit elders still resonate with meaning , or that in the himalaya , the buddhists still pursue the breath of the dharma , is to really remember the central revelation of anthropology , and that is the idea that the world in which we live does not exist in some absolute sense , but is just one model of reality , the consequence of one particular set of adaptive choices that our lineage made , albeit successfully , many generations ago .
how can i speak in 10 minutes about the bonds of women over three generations , about how the astonishing strength of those bonds took hold in the life of a four-year-old girl huddled with her young sister , her mother and her grandmother for five days and nights in a small boat in the china sea more than 30 years ago , bonds that took hold in the life of that small girl and never let go -- that small girl now living in san francisco and speaking to you today ?
and whether it is the penan in the forests of borneo , or the voodoo acolytes in haiti , or the warriors in the kaisut desert of northern kenya , the curandero in the mountains of the andes , or a caravanserai in the middle of the sahara -- this is incidentally the fellow that i traveled into the desert with a month ago -- or indeed a yak herder in the slopes of qomolangma , everest , the goddess mother of the world .
